*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: max-content;
}

.opsi {
  width: 100%;
}

.opsi form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opsi .prodi {
  margin-left: 20px;
}

select {
  width: 100%;
  border-radius: 5px;
  margin: 20px;
  padding: 7px;
  font-size: 13px;
}

select:hover {
  border-color: rgb(255, 255, 255);
}

table {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

table th,
table td {
  border: none;
  border-radius: 5px;
  padding: 10px;
}
